{% extends 'base.html' %}

{% block title %}Register - Flask Chat App{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <h2>Register</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}
            </div>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
{% endblock %}
